In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('frederick_2005.xls')
df = df.dropna(subset=['ACT', 'RACE', '3.4K v 3.8K(2)', 'Sex', 'IQ'])
df = df.dropna(axis=1)
df = df[[
    'school',
    'Sex',
    'RACE',
    'ACT',
    'batball',
    '3flips',
    'widgets',
    'trucks',
    'lilypads',
    'water',
    'giftwrap',
    'Jerry',
    'IQ',
    '3.4K v 3.8K(2)',
    'Prestige',
]]
df.head()

,school,Sex,RACE,ACT,batball,3flips,widgets,trucks,lilypads,water,giftwrap,Jerry,IQ,3.4K v 3.8K(2),Prestige
1177,UM (dearborn),Female,White,26.0,0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,low
1180,UM (dearborn),Female,Black,23.0,1,0.0,0.0,0.0,1.0,0.0,1.0,1.0,4.0,1.0,low
1182,UM (dearborn),Male,White,27.0,0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,4.0,0.0,low
1183,UM (dearborn),Male,Black,22.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,low
1184,UM (dearborn),Male,Other,31.0,1,1.0,1.0,1.0,1.0,1.0,1.0,1.0,8.0,1.0,low

In [3]:
df.to_csv('CRT_nodummies.csv', index=False)

In [4]:
df = pd.get_dummies(df, columns=['school', 'Sex', 'RACE', 'Prestige'])
df['CRT'] = df[['batball', 'widgets', 'lilypads']].sum(axis=1)
df = df.drop(columns='Sex_Female')
df.head()

,ACT,batball,3flips,widgets,trucks,lilypads,water,giftwrap,Jerry,IQ,...,school_UM (dearborn),Sex_Male,RACE_Asian,RACE_Black,RACE_Latino,RACE_Other,RACE_White,Prestige_low,Prestige_middle,CRT
1177,26.0,0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,...,1,0,0,0,0,0,1,1,0,0.0
1180,23.0,1,0.0,0.0,0.0,1.0,0.0,1.0,1.0,4.0,...,1,0,0,1,0,0,0,1,0,2.0
1182,27.0,0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,4.0,...,1,1,0,0,0,0,1,1,0,1.0
1183,22.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1,1,0,1,0,0,0,1,0,0.0
1184,31.0,1,1.0,1.0,1.0,1.0,1.0,1.0,1.0,8.0,...,1,1,0,0,0,1,0,1,0,3.0

In [5]:
df.to_csv('CRT_clean.csv', index=False)